:root {
   --header-height: 3.5rem;

   --white-color: #fff;
   --dark-color: #01070A;
   --first-color: #1B8041;
   --secundary-color: #F4C400;
   --gray-color: #FAFAFA;
   --linear-color: linear-gradient(97deg, #40AC7C 0%, #185D3B 100%);

   --title-font: anton;
   --body-font: "Inter";

   --h1-font-size: 3rem;
   --h2-font-size: 2.5rem;
   --body-font-size: 1rem;
}

@font-face {
   font-family: anton;
   src: url(/fonts/Anton-Regular.ttf);
}

*,
::after,
::before {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: var(--body-font);
   font-weight: 100;
   font-size: var(--body-font-size);
}

.main {
   position: relative;
   overflow: hidden;
}

a {
   text-decoration: none;
}

ul {
   list-style: none;
}

h1,
h2 {
   font-family: var(--title-font);
   text-transform: uppercase;
   line-height: 110%;
}

img {
   max-width: 100%;
   height: auto;
}

button {
   outline: none;
   border: none;
   cursor: pointer;
   font-family: var(--body-font);
   font-size: 1rem;
   justify-content: center;
}

.container {
   max-width: 1280px;
   margin-inline: 1.5rem;
}

.section {
   padding-block: 52px;
}

.grid {
   display: grid;
}

/* HEADER */
.header {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   z-index: 100;
}

.nav {
   position: relative;
   height: var(--header-height);
   display: flex;
   align-items: center;
   justify-content: space-between;
   border-radius: .5rem;
   overflow: hidden;
   padding-inline: 1rem;
   margin-top: 2rem;
}

.nav__logo {
   width: 90px;
}

.nav::after {
   position: absolute;
   content: "";
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   background-color: #01070a50;
   z-index: -1;
   backdrop-filter: blur(32px);
}

@media (max-width: 1023px) {
   .nav__menu {
      position: fixed;
      width: 80%;
      height: 100vh;
      top: 0;
      right: -100%;
      padding: 8rem 1.5rem 5rem 1.5rem;
      z-index: 100;
      transition: all .4s;
   }

   .nav__menu::before {
      position: absolute;
      top: 0;
      right: 0;
      content: " ";
      width: 100%;
      height: 100%;
      background-color: #01070a50;
      z-index: -1;
      backdrop-filter: blur(32px);
   }
}

.nav__list {
   display: flex;
   flex-direction: column;
   align-items: start;
   row-gap: 3rem;
}

.nav__close {
   position: absolute;
   top: 1.5rem;
   right: 1.5rem;
   min-width: 40px;
   min-height: 40px;
   border-radius: 8px;
   display: grid;
   place-items: center;
   background-color: #fff;
   font-size: 1.25rem;
   color: var(--dark-color);
   cursor: pointer;
}

.nav__link {
   color: var(--white-color);
   padding: 12px 16px;
   border-radius: 6px;
   transition: background .4s;
}

.nav__link:hover {
   background: rgba(255, 255, 255, 0.16);
}

.nav__toggle {
   min-width: 40px;
   min-height: 40px;
   border-radius: 8px;
   display: grid;
   place-items: center;
   font-size: 1.25rem;
   background-color: var(--white-color);
   cursor: pointer;
}

.show-menu {
   right: 0;
}

/* BUTTONS */
.button {
   padding: .5rem .5rem .5rem 2rem;
   display: inline-flex;
   border-radius: 5rem;
   background: var(--linear-color);
   color: var(--white-color);
   align-items: center;
   column-gap: 1rem;
   transition: all .4s;
}

.button__icon {
   min-width: 36px;
   min-height: 36px;
   background-color: var(--white-color);
   border-radius: 50%;
   color: var(--dark-color);
   display: grid;
   place-items: center;
   font-size: 1.25rem;
}

.button:hover {
   box-shadow: 0 16px 24px 0 rgba(27, 128, 65, 0.12);
}

.button-blur {
   padding: 1rem 2rem;
   background: rgba(255, 255, 255, 0.32);
   backdrop-filter: blur(60px);
}

.white-button {
   padding: 1rem 2rem;
   background: var(--white-color);
   color: var(--dark-color);
}

.button-ghost {
   padding: 1rem 2rem;
   background: transparent;
   color: var(--dark-color);
   border: 1px solid var(--dark-color);
}

.nav__button {
   display: none;
   opacity: 0;
}

/* HERO */
.hero {
   display: grid;
   width: 100%;
   /* height: 100vh; */
   height: max-content;
   padding: 12px;
}

.hero__container {
   display: grid;
   grid-area: 1 / 1;
   row-gap: 3.5rem;
   padding-top: 8rem;
   padding-bottom: 2rem;
   z-index: 2;
}

.hero__image {
   position: relative;
   border-radius: 16px;
   overflow: hidden;
   grid-area: 1 / 1;
}

.hero__img {
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.hero__image-overlay {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: linear-gradient(270deg, rgba(1, 7, 10, 0.00) 27.58%, rgba(1, 7, 10, 0.10) 35.47%, rgba(1, 7, 10, 0.37) 51.88%, rgba(1, 7, 10, 0.58) 75.39%, rgba(1, 7, 10, 0.64) 99.9%), linear-gradient(0deg, rgba(1, 7, 10, 0.24) 0%, rgba(1, 7, 10, 0.24) 100%);
}

.hero__title {
   margin-bottom: 1.25rem;
   font-size: var(--h1-font-size);
   color: var(--white-color);
}

.hero__description {
   line-height: 150%;
   color: var(--white-color);
   margin-bottom: 32px;
}

.hero__buttons {
   display: flex;
   flex-direction: column;
   align-items: start;
   row-gap: 1rem;
}

.hero__mark {
   width: 100%;
   display: flex;
   align-items: end;
   justify-content: center;
   column-gap: 1.5rem;
}

.mark__content {
   display: flex;
   flex-direction: column;
   align-items: center;
   row-gap: 1rem;
}

.mark__content.active .line {
   height: 40px;
}

.mark__content.active span {
   font-size: 1.35rem;
}

.line {
   height: 0px;
   width: 2px;
   background-color: var(--white-color);
}

.mark__content span {
   color: var(--white-color);
   font-weight: 600;
}

/* ABOUT */
.about__container {
   row-gap: 2rem;
}

.about__image {
   position: relative;
   border-radius: 1rem;
   overflow: hidden;
   height: 300px;
}

.about__img {
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.about__image-card {
   position: absolute;
   gap: 12px;
   width: 140px;
   right: 1rem;
   bottom: 1rem;
}

.about__card-img {
   width: 80px;
   margin-bottom: 12px;
   /* box-shadow: 134px 88px 45px 0 rgba(0, 0, 0, 0.00), 86px 56px 41px 0 rgba(0, 0, 0, 0.01), 48px 32px 35px 0 rgba(0, 0, 0, 0.05), 21px 14px 26px 0 rgba(0, 0, 0, 0.09), 5px 4px 14px 0 rgba(0, 0, 0, 0.10); */
}

.about__card-infos {
   position: relative;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 1rem;
   z-index: 1;
}

.about__card-decoration {
   width: 90px;
}

.about__card-title {
   display: inline-block;
   font-size: 14px;
   font-weight: 600;
   text-align: center;
   margin-bottom: 6px;
}

.about__card-description {
   text-align: center;
   font-size: 14px;
   margin-bottom: 12px;
}

.about__card-bg {
   position: absolute;
   bottom: 0;
   left: 0;
   width: 100%;
   height: 78%;
   background-color: var(--white-color);
   border-radius: .8rem;
}

.about__title {
   font-size: var(--h2-font-size);
   margin-bottom: .8rem;
}

.about__description {
   margin-bottom: 1rem;
}

.about__description:nth-child(4) {
   margin-bottom: 2rem;
}

.about__buttons {
   display: flex;
   flex-direction: column;
   row-gap: 1.25rem;
   align-items: start;
}

/* DESTAQUE */
.destaque {
   background: var(--dark-color);
   border-radius: 16px;
   color: var(--white-color);
}

.destaque__title {
   font-size: var(--h2-font-size);
   text-align: center;
   margin-bottom: 2rem;
}

.destaque__content {
   row-gap: 2rem;
}

.destaque__card {
   cursor: pointer;
   position: relative;
   padding: 1rem;
}

.destaque__card-info {
   position: relative;
   z-index: 2;
}

.destaque__card-info h1 {
   font-size: 56px;
   margin-bottom: 2rem;
}

.destaque__line {
   width: 100%;
   height: 1px;
   background-color: var(--white-color);
   opacity: .3;
   margin-bottom: 2rem;
}

.detaque__flex {
   display: flex;
   align-items: center;
   column-gap: .8rem;
   margin-bottom: 1rem;
}

.detaque__flex i {
   font-size: 1.5rem;
}

.detaque__card-title {
   display: inline-block;
   font-size: 1.25rem;
}

.card__img {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
   clip-path: polygon(50% 0, 50% 0, 50% 100%, 50% 100%);
   transition: all .4s;
}

.destaque__card:hover .card__img {
   clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.detaque__card-overlay {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: linear-gradient(0deg, rgba(1, 7, 10, 0.36) 0%, rgba(1, 7, 10, 0.36) 100%);
   z-index: 1;
}

/* SERVICES */
.services__container {
   row-gap: 2rem;
}

.services__title {
   font-size: var(--h2-font-size);
   margin-bottom: 1rem;
}

.services__description {
   margin-bottom: 2rem;
}

.services__card {
   cursor: pointer;
   position: relative;
   height: 264px;
   display: flex;
   align-items: end;
   padding: 1.25rem;
}

.service__card-decoration {
   position: absolute;
   top: 0;
   left: 0;
   width: 150px;
   z-index: 2;
}

.services__card-images {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
}

.services__card-img {
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.services__card-overlay {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: linear-gradient(180deg, rgba(1, 7, 10, 0.00) 42.49%, rgba(1, 7, 10, 0.80) 89.4%), linear-gradient(0deg, rgba(1, 7, 10, 0.20) 0%, rgba(1, 7, 10, 0.20) 100%);
}

.services__card-data {
   position: relative;
   z-index: 1;
   color: var(--white-color);
   display: flex;
   align-items: center;
   column-gap: 1.5rem;
}

.services__card-title {
   display: inline-block;
   margin-bottom: .5rem;
   font-weight: 600;
}

.services__card-description {
   font-size: 14px;
}

.services__card-icon {
   min-width: 40px;
   min-height: 40px;
   background-color: var(--white-color);
   border-radius: 50%;
   display: grid;
   place-items: center;
   color: var(--dark-color);
   font-size: 1.25rem;
}

/* PARTNER */
.partner {
   background-color: var(--dark-color);
   border-radius: 16px;
   color: var(--white-color);
}

.partner__container {
   row-gap: 2rem;
}

.partner__title {
   font-size: var(--h2-font-size);
   margin-bottom: 1.25rem;
}

.partner__description {
   margin-bottom: 1rem;
   line-height: 150%;
   font-weight: regular;
}

.partner__description:nth-child(3) {
   margin-bottom: 2rem;
}

.partner__image {
   padding: 1.5rem 1rem;
   display: grid;
   place-items: center;
   background: rgba(255, 255, 255, 0.08);
   border-radius: 1rem;
}

.partner__img {
   width: 220px;
}

/* MARQUEE */
.marquee {
   height: 35vh;
}

.marquee__moving {
   position: relative;
   top: 50%;
   transform: translateY(-50%);
}

.marquee__moving-content {
   transform: rotate(-8deg);
   white-space: nowrap;
   width: 100%;
}

.marquee__moving-content.green {
   background-color: var(--first-color);
}

.marquee__moving-content.yellow {
   background-color: var(--secundary-color);
   transform: translateY(-1.8rem) rotate(8deg);
}

.marquee__move {
   display: inline-block;
   flex-direction: row;
   white-space: nowrap;
   animation-name: marqueeMove;
   animation-duration: 32s;
   animation-timing-function: linear;
   animation-iteration-count: infinite;
}

.marquee__move-right {
   animation-direction: reverse;
   animation-delay: -1s;
   flex-direction: row-reverse;
}

.marquee__move-item {
   margin: 0 .5rem;
   display: inline-block !important;
}

.marquee__move-item h4 {
   font-size: 20px;
   text-transform: uppercase;
   color: var(--white-color);
}

/* CTA */
.cta__container {
   position: relative;
   background-color: var(--dark-color);
   border-radius: 16px;
   overflow: hidden;
   color: var(--white-color);
   padding: 2rem;
   box-shadow: 0 32px 100px 0 rgba(1, 7, 10, 0.16);
}

.cta__content {
   position: relative;
   z-index: 1;
   row-gap: 3rem;
}

.cta__container-bg {
   position: absolute;
   transform: translateX(-50%) rotate(90deg);
   max-width: 500px;
   left: 50%;
   bottom: 0;
   opacity: .6;
}

.cta__title {
   font-size: var(--h2-font-size);
   margin-bottom: 1.25rem;
}

.cta__description {
   margin-bottom: 2rem;
}

.cta__images {
   position: relative;
}

.cta__image-icon {
   display: grid;
   place-items: center;
   color: var(--dark-color);
   font-size: 1.25rem;
   border-radius: 12px;
   min-width: 52px;
   min-height: 52px;
   background-color: var(--white-color);
   position: absolute;
}

.secundary {
   background-color: var(--secundary-color);
}

.cta__icon-1 {
   right: -.5rem;
   transform: rotate(18deg);
}

.cta__icon-2 {
   bottom: 5rem;
   transform: rotate(-18deg);
}

/* FAQ */
.faq__container {
   row-gap: 2rem;
}

.faq__title {
   text-align: center;
   font-size: var(--h2-font-size);
}

.faq__content {
   row-gap: 1.5rem;
}

.faq__col {
   display: grid;
   row-gap: 1.5rem;
}

.faq__card {
   background-color: var(--white-color);
   box-shadow: 0 6px 44px 0 rgba(39, 69, 190, 0.05);
   border-radius: 12px;
   overflow: hidden;
}

.faq__header {
   cursor: pointer;
   display: flex;
   align-items: center;
   column-gap: 2rem;
   padding: 1rem;
}

.faq__card-title {
   font-size: 1rem;
   color: var(--dark-color);
   line-height: 135%;
}

.faq__card-icon {
   min-width: 40px;
   min-height: 40px;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 8px;
   background-color: var(--gray-color);
}

.faq__card-content {
   overflow: hidden;
   padding-inline: 1rem;
   height: 0;
}

.faq__card,
.faq__card-content,
.faq__card-icon,
.faq__card-text,
.faq__card-title {
   transition: all .4s;
}

.accordion-open .faq__header,
.accordion-open .faq__card-content {
   background-color: var(--dark-color);
}

.accordion-open .faq__header .faq__card-title,
.accordion-open .faq__card-content {
   color: var(--white-color);
}

.accordion-open .faq__header .faq__card-icon {
   background-color: var(--white-color);
   color: var(--dark-color);
}

/* CONTACT */
.contact__container {
   background-color: var(--white-color);
   box-shadow: 0 24px 120px 0 rgba(10, 38, 99, 0.04);
   border-radius: 1rem;
   padding: 1.5rem;
   row-gap: 2rem;
}

.contact__form {
   display: grid;
   row-gap: 1.5rem;
}

.contact__form-title {
   margin-bottom: .5rem;
}

.input__label {
   display: flex;
   flex-direction: column;
   align-items: start;
   row-gap: 12px;
}

.contact__form-inputs {
   display: flex;
   flex-direction: column;
   row-gap: 1rem;
}

.contact__input {
   display: flex;
   align-items: center;
   column-gap: 12px;
   background-color: var(--gray-color);
   padding: 1rem;
   border-radius: .4rem;
   width: 100%;
}

.contact__input input {
   background: transparent;
   outline: none;
   border: none;
}

.contact__input input::placeholder {
   font-family: var(--body-font);
   font-size: 16px;
}

.input__label span {
   font-size: 14px;
   font-weight: 600;
}

.contact__form-flex {
   display: flex;
   flex-direction: column;
   row-gap: 1rem;
}

.contact__map {
   overflow: hidden;
   border-radius: 1rem;
}

.contact__map iframe {
   width: 100%;
   height: 300px;
}

/* FOOTER */
.footer {
   position: relative;
   color: var(--white-color);
   padding: 3.5rem 0 2rem 0;
}

.footer__bg-color {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: var(--first-color);
}

.footer__container {
   position: relative;
   z-index: 1;
   row-gap: 2rem;
}

.footer__content {
   row-gap: 2rem;
   background: rgba(1, 7, 10, 0.52);
   backdrop-filter: blur(60px);
   padding: 1.25rem;
   border-radius: 1rem;
}

.footer__logo {
   width: 110px;
   margin-bottom: 8px;
}

.footer__infos-text {
   margin-bottom: 1rem;
}

.footer__infos-social {
   display: flex;
   align-items: center;
   column-gap: 1rem;
}

.footer__social-icon {
   cursor: pointer;
   min-width: 40px;
   min-height: 40px;
   background: rgba(255, 255, 255, 0.32);
   box-shadow: 0 9px 24px 0 rgba(4, 23, 46, 0.06);
   display: grid;
   place-items: center;
   border-radius: 8px;
   color: var(--white-color);
   font-size: 1.25rem;
}

.footer__group {
   row-gap: 2rem;
}

.footer__group,
.footer__group-infos {
   display: flex;
   flex-direction: column;
   align-items: start;
}

.footer__group-infos {
   row-gap: 1rem;
}

.footer__group-list {
   display: flex;
   flex-direction: column;
   align-items: start;
   row-gap: .8rem;
}

.footer__group-title {
   font-size: 1.25rem;
   font-weight: 600;
}

.footer__link {
   color: var(--white-color);
   font-weight: 100;
   opacity: .7;
   transition: all.4s;
}

.footer__link:hover {
   opacity: 1;
}

.footer__bottom {
   display: flex;
   flex-direction: column;
   align-items: center;
   row-gap: 2rem;
}

.footer__bottom-fle {
   display: flex;
   column-gap: 1rem;
}

.footer__bottom-flex span,
.footer__copy {
   cursor: pointer;
   font-size: 14px;
}

@keyframes marqueeMove {
   0% {
      transform: translateX(0);
   }

   100% {
      transform: translateX(-50%);
   }
}

@keyframes marqueeMoveRight {
   0% {
      transform: translateX(50%);
   }

   100% {
      transform: translateX(100%);
   }
}

/* MEDIA QUERIES */
@media(max-width: 320px) {}

@media(min-width: 576px) {}

@media (min-width: 768px) {
   :root {
      --h1-font-size: 52px;
   }

   .hero__container {
      grid-template-columns: 70% 30%;
      align-items: center;
      justify-content: space-between;
      padding-top: initial;
   }

   .hero__mark {
      justify-content: end;
      flex-direction: column;
      row-gap: 2rem;
   }

   .mark__content {
      flex-direction: row;
      column-gap: 2rem;
   }

   .line {
      transform: rotate(-90deg);
   }

   .hero__buttons {
      flex-direction: row;
      column-gap: 1.25rem;
      align-items: center;
   }

   .destaque__title {
      margin-bottom: 52px;
   }

   .destaque__content {
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;
   }

}

@media(min-width: 1024px) {
   :root {
      --h1-font-size: 64px;
   }

   .container {
      margin-inline: 3rem;
   }

   /* HEADER */
   .nav__close,
   .nav__toggle,
   .mobile__nav-button {
      display: none;
   }

   .nav__button {
      display: initial;
      opacity: 1;
   }

   .nav {
      height: calc(var(--header-height) + 1rem);
      border-radius: 1rem;
   }

   .nav__list {
      flex-direction: row;
      column-gap: 2.5rem;
   }

   .hero__container {
      grid-template-columns: 72% 28%;
   }

   .about__container {
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
      column-gap: 3rem;
   }

   .about__image {
      height: 100%;
   }

   .marquee__move-item h4 {
      font-size: 32px;
   }

   .marquee__moving-content.yellow {
      transform: translateY(-2.5rem) rotate(8deg);
   }

   .marquee__move-item {
      margin: 0 2rem;
   }
}

@media (min-width: 1150px) {
   .hero__container {
      grid-template-columns: repeat(2, 1fr);
   }

   .about__buttons {
      flex-direction: row;
      align-items: center;
      column-gap: 1rem;
   }
}

@media (min-width: 1280px) {
   :root {
      --h1-font-size: 72px;
      --h2-font-size: 64px;
      --body-font-size: 18px;
   }

   .container {
      margin-inline: auto;
   }

   .section {
      padding-block: 80px;
   }

   .about__container {
      column-gap: 64px
   }

   .about__description {
      line-height: 180%;
   }

   .about__description:nth-child(4) {
      margin-bottom: 52px;
   }

   .about__image {
      height: 680px;
   }

   .destaque__content {
      gap: 80px;
   }

   .destaque__title {
      margin-bottom: 80px;
   }

   .destaque__container.container {
      padding-inline: 8rem;
   }

   .destaque__card {
      height: 400px;
   }

   .destaque__card-info h1 {
      font-size: 128px;
   }
}