:root {
   --header-height: 3.5rem;

   --white-color: #fff;
   --dark-color: #01070A;
   --linear-color: linear-gradient(97deg, #40AC7C 0%, #185D3B 100%);

   --title-font: anton;
   --body-font: "Inter";

   --h1-font-size: ;
   --h2-font-size: ;
   --body-font-size: 1rem;
}

@font-face {
   font-family: anton;
   src: url(/fonts/anton.ttf);
}

*,
::after,
::before {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: var(--body-font);
   font-weight: 500;
}

.main {
   position: relative;
   overflow: hidden;
}

a {
   text-decoration: none;
}

ul {
   list-style: none;
}

h1,
h2 {
   font-family: var(--title-font);
}

img {
   max-width: 100%;
   height: auto;
}

.container {
   max-width: 1439px;
   margin-inline: 1.5rem;
}

.grid {
   display: grid;
}

/* HEADER */
.header {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   z-index: 100;
}

.nav {
   position: relative;
   height: var(--header-height);
   display: flex;
   align-items: center;
   justify-content: space-between;
   border-radius: .5rem;
   overflow: hidden;
   padding-inline: 1rem;
   margin-top: 1rem;
}

.nav__logo {
   width: 90px;
}

.nav::after {
   position: absolute;
   content: "";
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   background-color: #01070a50;
   z-index: -1;
   backdrop-filter: blur(32px);
}

@media (max-width: 1023px) {
   .nav__menu {
      position: fixed;
      width: 80%;
      height: 100vh;
      top: 0;
      right: -100%;
      padding: 8rem 1.5rem 5rem 1.5rem;
      z-index: 100;
      transition: all .4s;
   }

   .nav__menu::before {
      position: absolute;
      top: 0;
      right: 0;
      content: " ";
      width: 100%;
      height: 100%;
      background-color: #01070a50;
      z-index: -1;
      backdrop-filter: blur(32px);
   }
}

.nav__list {
   display: flex;
   flex-direction: column;
   align-items: start;
   row-gap: 3rem;
}

.nav__close {
   position: absolute;
   top: 1.5rem;
   right: 1.5rem;
   min-width: 40px;
   min-height: 40px;
   border-radius: 8px;
   display: grid;
   place-items: center;
   background-color: #fff;
   font-size: 1.25rem;
   color: var(--dark-color);
   cursor: pointer;
}

.nav__link {
   color: var(--white-color);
   padding: 12px 16px;
   border-radius: 6px;
   transition: background .4s;
}

.nav__link:hover {
   background: rgba(255, 255, 255, 0.16);
}

/* BUTTONS */
.button {
   padding: 1rem 2rem;
   display: inline-flex;
   border-radius: 5rem;
}

.white-button {
   background-color: var(--white-color);
   color: var(--dark-color);
}

.nav__button {
   display: none;
   opacity: 0;
}

.nav__toggle {
   min-width: 40px;
   min-height: 40px;
   border-radius: 8px;
   display: grid;
   place-items: center;
   font-size: 1.25rem;
   background-color: var(--white-color);
   cursor: pointer;
}

.show-menu {
   right: 0;
}

/* MEDIA QUERIES */
@media(max-width: 320px) {}

@media(min-width: 1024px) {
   /* HEADER */
   .nav__close,
   .nav__toggle,
   .mobile__nav-button {
      display: none;
   }

   .nav__button {
      display: initial;
      opacity: 1;
   }

   .nav {
      height: calc(var(--header-height) + 1rem);
      border-radius: 1rem;
   }

   .nav__list {
      flex-direction: row;
      column-gap: 2.5rem;
   }
}

@media (min-width: 1280px) {}

@media (min-width: 1440px) {
   .container {
      margin-inline: auto;
   }
}